<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- camera driver -->
  <node name="dvs_ros_driver" pkg="edvs_ros_driver" type="edvs_ros_driver" output="screen">
  	<param name="serial_number" type="str" value="/dev/ttyUSB1" />
    <rosparam command="load" file="$(find dvs_ros_driver)/config/fast.yaml" />
  </node>

  <!-- visualization -->
  <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer">
    <param name="display_method" value="grayscale"/>
    <remap from="events" to="/dvs/events" />
    <remap from="camera_info" to="/dvs/camera_info" />
  </node>

  <!-- calib node -->
  <node name="dvs_calibration" pkg="dvs_calibration" type="mono" output="screen">
    <remap from="events" to="/dvs/events" />
    <remap from="camera_info" to="/dvs/camera_info" />
    <remap from="set_camera_info" to="/dvs/set_camera_info" />
    
    <!-- in order to simply take all detected patterns -->
    <!--
    <remap from="dvs_calibration/image_object_points" to="/dvs_calibration/detected_points_left_or_single" />
	-->
	<!-- use output of picker tool for calibration input -->
	<remap from="dvs_calibration/image_object_points" to="out/image_object_points" />
	
    <param name="blinking_time_us" value="1000" />
    <param name="blinking_time_tolerance_us" value="100" />
    <!-- enough transitions to start to try to find a pattern -->
    <param name="enough_transitions_threshold" value="20" />
    <!-- minimum transitions of a pixel in order to get used for the point detection -->
    <param name="minimum_transitions_threshold" value="3" />
    <!-- minimum led mass of a cluser in order to get accepted -->
    <param name="minimum_led_mass" value="1" />
    <!-- seconds after which the transition map will be reset-->
    <param name="pattern_search_timeout" value="1"/>
    
    <param name="dots_w" value="4"/>
    <param name="dots_h" value="3"/>
    <!-- distance of the dots in m -->
    <param name="dot_distance" value="0.04"/>
    
  </node>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find dvs_calibration_gui)/rqt/IntrinsicCalibration.perspective" />

  <!-- pattern picker to confirm detections -->
  <node name="pattern_picker" pkg="dvs_calibration" type="pick.py">
	  <remap from="in/image_object_points" to="/dvs_calibration/detected_points_left_or_single" />
	  <remap from="in/image_pattern" to="/dvs_calibration/detected_points_left_or_single_pattern" />
  </node>
</launch>
